.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.modalContent {
    padding: 15px 0 15px 15px;
    border-radius: 15px;
    min-width: 250px;
    background-color: aliceblue;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}