.faButton {
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    transition: cursor 1s, filter 1s, transform 0.3s ;
}

.faButton:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.faButton:active {
    transform: translateY(5px);
}