.sideBtn {
    appearance: none;
    background-color: transparent;
    border: none;
    color: white;
    width: max-content;
    padding: 15px 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: all 1s;
    position: relative;
}

.sideBtn * {
    z-index: 1;
    position: relative;
  }
  
  .sideBtn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    z-index: 0;
    transition-duration: 0.5s;
  }
  
  .sideBtn:hover:before {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }