.sidebar {
    box-shadow: 0 0 5px #d4d4d4;
    border-top: 4px solid #4cb1ca;
    float: right;
    height: 490px;
    width: 230px;
    margin-right: 50px;
}

.sidebar__content {
    height: 485px;
    width: 230px;
    padding-bottom: 40px;
    position: relative;
}

.sidebar__content h3 {
    color: #635f57;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.24px;
    width: 113px;
    height: 46px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 25%;
    top: 25px;
}


.sidebar__hero {
    width: 100%;
    height: 100%;
}

.sidebar__img {
    width: 100%;
    height: 385px;
    position: absolute;
    z-index: -1;
    bottom: 40px;
}

.sidebar__btn {
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 45px;
    left: 50%;
}

.sidebar__form {
    width: 230px;
    height: 280px;
    box-shadow: 0 0 5px #d4d4d4;
    border-top: 4px solid #4cb1ca;
    margin-top: 30px; 
}

.sidebar__form h3 {
    color: #635f57;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.24px;
    width: 130px;
    height: 46px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    left: 30%;
    transform: translate(-30%, 0);
}

.sidebar__form p {
    color: #696969;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.24px;
    width: 187px;
    height: 34px;
    text-align: center;
    margin: 30px 20px 0;

}

.sidebar__form hr {
    width: 85px;
    margin: 10px 75px 0;
    border: 1px solid #ededed;
    border-bottom-width: 0;
}
