.tile {
 width: 230px;
 height: 320px;
 list-style: none;
}

    .inner__tile {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-shadow: 0 0 5px #d4d4d4;
    }

        .tile__image {
            background-color: #eff1f0;
            width: 210px;
            height: 210px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .tile__image img {
                max-width: 210px;
                max-height: 210px;
            }
        
        .tile__body {
            display: flex;
            justify-content: space-around;
        }

        .tile__name {
            color: #464148;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            margin-top: 15px;
            word-break: break-word;
            overflow: hidden;
            height: 18px;
            width: 158px;
        }

        .tile__price {
            color: #7db122;
            font-size: 18px;
            font-weight: 400;
            font-family: "Open Sans";
            margin: 5px 0;
        }

        .tile__btn {
            margin-top: 20px;
            width: fit-content;
            height: fit-content;
        }

